* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

   }
   body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient( circle 972.6px at 10% 20%,  rgba(243,0,75,1) 0%, rgba(255,93,75,1) 90% );
   }

   h1 {
       color: #212121;
       margin: 3rem auto;
       text-align: center;
       background-color: #40bfc1;
       border-radius: 7px;
       width: 40%;
       padding: 3rem;
       text-align: center;
   }
   .form-btn{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       text-align: center;
       margin: auto;
       background:#f5f0e3;
       width: 25%;
       max-width: 500px;
       border-radius: 10px;

   }
   .input-48:first-child {
        margin-top: 1.5rem;
   }
   .contenedor-inputs{
    padding: 0.2rem;
    text-align: center;
   }
   .btn:last-child{
       margin-bottom: 30px;
   }
   .btn{
       text-decoration: none;
       background: crimson;
       color: #fff;
       margin-top: 20px;
       width:55%;
       padding: 10px 40px;
       cursor: pointer;
       font-size: 20px;
       border-radius: 10px;
   }
   .input-48{
    width: 48%;
    padding: 1rem;
    margin: 0.2rem;
}
.eliminar{
    background: crimson;
    color: #fff;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}
.je {
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}